<div class="panel">
  <div class="form-inline">
    <div class="form-group">
      <button class="btn btn-default" (click)="Sort('ColorName')">Сортировать по возрастанию имени</button>
      <button class="btn btn-default" (click)="Sort('ColorName', true)">Сортировать по убыванию имени</button>
      <button class="btn btn-default" (click)="Sort('HexValue')">Сортировать по возрастанию цвета</button>
      <button class="btn btn-default" (click)="Sort('HexValue', true)">Сортировать по убыванию цвета</button>
    </div>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Color name:</th>
      <th>Color:</th>
    </tr>
    <tr *ngFor="let item of Colors">
      <td>{{item.ColorName}}</td>
      <td [ngStyle]="{ 'background-color': item.HexValue }"></td>
    </tr>
  </table>
</div>

<router-outlet></router-outlet>